<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add a Holiday</h1>
    <div class="buttons">
      <button class="button button-positive" ng-click="closeAddHol()">Close</button>
    </div>
  </ion-header-bar>
<ion-content>
<form ng-Submit="saveNewHol()">
  <div class="card">
        <div class="list">
        <label class="item item-input">
          <span class="input-label">Start Date</span>
          <input type="text" placeholder="click here to enter a date" ng-click="openDatePicker1();" ng-Model="holidayData.startdate">
        </label>

        <label class="item item-input">
          <span class="input-label">End Date</span>
          <input type="text" placeholder="click here to enter a date" ng-click="openDatePicker2();" ng-Model="holidayData.enddate">
        </label>

        <label class="item item-input">
          <span class="input-label">Days Taken</span>
          <input type="number" disabled="true" ng-Model="holidayData.daystaken">
        </label>

        <label class="item item-input">
          <span class="input-label">Holiday Approved</span>
            <label class="toggle toggle-assertive">
             <input type="checkbox" ng-Model="holidayData.approved">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </label>


      </div>
            <label class="item">
              <button class="button button-block button-positive" type="submit">Add Holiday</button>
            </label>

  </div>
</form>
</ion-content>
</ion-modal-view>
