<ion-view view-title="Add a Holiday">
<ion-content>
<form ng-Submit="saveNewHol()">
  <div class="card">
    <div class="item item-divider">
    Add a Holiday
  </div>

      <div class="list">
        <label class="item item-input">
          <span class="input-label">Start Date</span>
          <input type="date" ng-Model="holidayData.startdate">
        </label>

        <label class="item item-input">
          <span class="input-label">End Date</span>
          <input type="date" ng-Model="holidayData.enddate">
        </label>

        <label class="item item-input">
          <span class="input-label">Days Taken</span>
          <input type="number" ng-Model="holidayData.daystaken">
        </label>

        <label class="item item-input">
          <span class="input-label">Holiday Approved</span>
            <label class="toggle toggle-assertive">
             <input type="checkbox" ng-Model="holidayData.approved">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </label>


      </div>
            <label class="item">
              <button class="button button-block button-positive" type="submit">Add Holiday</button>
            </label>

  </div>
</form>
</ion-content>
</ion-view>
