<ion-view view-title="Holiday Manager">
<ion-content class="grid-basic-page">
  <div class="card">
<div class="item item-divider">
  Holidays Booked
</div>
  <ion-row class="grid-title" center>
    <ion-col><div>Start</div></ion-col>
    <ion-col><div>End</div></ion-col>
    <ion-col><div>Days</div></ion-col>
  </ion-row>
  <ion-row center *ngFor="let item of items" (click)="itemSelected(item)">
    <ion-col><div >{{item.startdate | date: "mediumDate"}}</div></ion-col>
    <ion-col><div>{{item.enddate | date: "mediumDate"}}</div></ion-col>
    <ion-col><div>{{item.daystaken}}</div></ion-col>
  </ion-row>

</div>

  <div class="card">
    <div class="item item-divider">
      Summary
    </div>
        <ion-row center>
        <ion-col>Total Days for Year: </ion-col>
        <ion-col><div>{{totalDays}}</div></ion-col>
      </ion-row>

      <ion-row center>
        <ion-col>Days Booked: </ion-col>
        <ion-col><div>{{daysBooked}}</div></ion-col>
      </ion-row>

      <ion-row center>
        <ion-col>Days Available: </ion-col>
        <ion-col><div>{{daysAvailable}}</div></ion-col>
      </ion-row>

      <ion-row center>
        <ion-col>Days Taken: </ion-col>
        <ion-col><div>{{daysTaken}}</div></ion-col>
      </ion-row>
  </div>


</ion-content>
</ion-view>
