<ion-view view-title="Holiday Settings">
<ion-content>
<form [formGroup]="form" (ngSubmit)="saveNewSettings()">
<div class="card">
  <div class="item item-divider">
    Holiday Year
  </div>
    <ion-list>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" formControlName="startdate" [(ngModel)]="setStartDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" formControlName="enddate" [(ngModel)]="setEndDate"></ion-datetime>
    </ion-item>
    </ion-list>

</div>

<div class="card">
<div class="item item-divider">
  Holiday Entitlement
</div>

    <ion-list>
    <ion-item>
      <ion-label>Days per year</ion-label>
      <ion-input type="number" formControlName="holdays" [(ngModel)]="setHolDays"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Bank Holiday Days</ion-label>
      <ion-input type="number" formControlName="bankdays" [(ngModel)]="setBankDays"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Bank Holidays part of Enitlement?</ion-label>
      <ion-toggle color="secondary" formControlName="bankinc" [(ngModel)]="setBankInc"></ion-toggle>
    </ion-item>
    </ion-list>

</div>

<div class="card">
<div class="item item-divider">
  Total Days Holiday
</div>

    <ion-list>
    <ion-item>
      <ion-label>Holiday Entitlement</ion-label>

    </ion-item>
{{ entitlement }}

    </ion-list>

</div>

<ion-buttons>
      <button ion-button [disabled]="!form.valid">Save Settings<ion-icon name="save"></ion-icon></button>
    </ion-buttons>
</form>


</ion-content>
</ion-view>
