<ion-view view-title="Holiday Settings">
<ion-content>
<form ng-Submit="saveSettings()">
<div class="card">
  <div class="item item-divider">
    Holiday Year
  </div>
    <div class="list">
      <label class="item item-input">
      <span class="input-label">Start Date</span>
      <input type="text" ng-click="openDatePicker1();" ng-model="settingData.startdate">
      </label>
    <label class="item item-input">
      <span class="input-label">End Date</span>
      <input type="text" ng-click="openDatePicker2();" ng-model="settingData.enddate">
    </label>
  </div>

</div>

<div class="card">
<div class="item item-divider">
  Holiday Entitlement
</div>

    <div class="list">
    <label class="item item-input">
      <span class="input-label">Days Per Year</span>
      <input type="number" ng-Model="settingData.holdays">
    </label>

    <label class="item item-input">
      <span class="input-label">Bank Holiday Days</span>
      <input type="number" ng-Model="settingData.bankdays">
    </label>

    <label class="item item-input">
      <span class="input-label">Bank Holidays part of Entitlement?</span>
      <label class="toggle toggle-assertive">
       <input type="checkbox" ng-Model="settingData.bankinc">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
    </label>
  </div>

</div>

<div class="card">
<div class="item item-divider">
  Total Days Holiday
</div>

    <ion-list>
    <ion-item>
      <ion-label>Holiday Entitlement</ion-label>
{{ entitle }}
    </ion-item>


    </ion-list>

</div>

<label class="item">
  <button class="button button-block button-positive" type="submit">Save Settings</button>
</label>

</form>


</ion-content>
</ion-view>
