<ion-view view-title="View">
<ion-content>

  <div class="card">
    <div class="item item-divider">
      View a Holiday
    </div>
    <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            Choose Holiday to View
          </div>
          <select ng-model="selectHols" ng-options="item.doc.startdate for item in holidayArray">
      <option>{{holidayData.startdate}}</option>
      </select>
  </label>
      </div>
  </div>

  <div class="card">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Start Date</span>
      {{holidayData.startdate}}
      </label>

      <label class="item item-input">
        <span class="input-label">End Date</span>
        {{holidayData.enddate}}
      </label>

      <label class="item item-input">
        <span class="input-label">Days Taken</span>
        {{holidayData.daystaken}}
      </label>

    </div>

  </div>

</ion-content>
</ion-view>
